
// colors

$ghost-white: #FAFAFF;

$hover-ghost-white: #f2f2f7;

$light-gray: #D7D7D7;

$dark-blue-gray: #42526E;

$dark-blue: #091E42;

$light-blue: #33A1FD;


// font-sizes

$page-header-size: 2rem;

$block-header-size: 1.6rem;

$list-header-size: 1.2rem;

$default-text-size: 1rem;

$small-text-size: 0.8rem;

