
// colors

$white: #FFFFFF;

$hover-white: #fafaff;

$light-gray: #D7D7D7;

$dark-blue: #16324F;

$darkest-blue: #13293D;

$light-blue: #3185FC;


// font-sizes

$page-header-size: 2rem;

$block-header-size: 1.6rem;

$list-header-size: 1.2rem;

$default-text-size: 1rem;

$small-text-size: 0.8rem;

